@import "tailwindcss";

/* BASE */
body {
	background-color: black;
	color: white;
	overflow: hidden; /* Evita scrollbars en la app principal */
}

/* SCROLLBAR MINIMALISTA (Estilo Terminal) */
.custom-scrollbar::-webkit-scrollbar {
	width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background: #09090b; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #27272a; 
	border-radius: 0px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #3f3f46; 
}

/* UTILIDADES DE ANIMACIÓN */
@keyframes fadeIn {
	from { opacity: 0; transform: scale(0.98); }
	to { opacity: 1; transform: scale(1); }
}

.animate-in {
	animation: fadeIn 0.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

/* CLASES DE UTILIDAD PARA LEAFLET (Si quedan residuos) */
.leaflet-container {
	background: black !important;
}

/* NUEVA UTILIDAD DE DISEÑO (Fondo de puntos sutil para la landing) */
.dot-grid-bg {
    background-color: black;
    background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 30px 30px;
}