---
// Archivo: src/pages/app.astro
import Layout from '../layouts/Layout.astro';
import { UniverseCanvas } from '../components/Islands.jsx';
import ControlBar from '../components/ControlBar.jsx';
import UserWidget from '../components/UserWidget.jsx';
---

<Layout title="AETHER | Sistema">

	<UniverseCanvas client:load />

	<header class="fixed top-0 left-0 w-full z-40 px-6 py-4 flex justify-between items-center pointer-events-none select-none bg-linear-to-b from-black/80 to-transparent">

		<div class="pointer-events-auto flex flex-col">
			<span class="text-[10px] font-mono text-zinc-500 uppercase tracking-[0.4em] mb-1">Sistema</span>
			<h1 class="text-2xl md:text-3xl font-bold tracking-tighter text-white/90 drop-shadow-[0_0_10px_rgba(255,255,255,0.3)] font-mono">
				AETHER
			</h1>
		</div>

		<div class="pointer-events-auto">
			<UserWidget client:load />
		</div>

	</header>

	<main class="relative z-10 w-full h-screen pointer-events-none">
	</main>

	<ControlBar client:load />

</Layout>