---
import '../styles/global.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="bg-black text-white overflow-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body class="cursor-crosshair selection:bg-white/20 selection:text-white">
		<slot />
	</body>
</html>